frontend/src/ash_rpc.ts linguist-generated=true whitespace=-blank-at-eof
frontend/src/ash_types.ts linguist-generated=true whitespace=-blank-at-eof
frontend/src/routeTree.gen.ts linguist-generated=true
